{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="bg-white">

{% include 'home/welcome.html.twig' %}
    {% include 'home/realisations.html.twig' %}
    {% include 'home/blogspot.html.twig' %}

</div>
    {% endblock %}
