<div class="relative w-full h-screen">

    <img src="{{ asset('img/pic.jpg')|imagine_filter('welcome') }}" alt="Background" class="absolute inset-0 w-full h-full object-cover">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
        <a href="#" class="px-6 py-3 bg-blue-600 text-white text-lg font-bold rounded-lg shadow-md hover:bg-blue-700 transition">
            Découvrir mon Portfolio
        </a>
    </div>
</div>
