<footer class=" bg-white py-4">
    <div class="container mx-auto flex justify-center">
        <img src="{{ asset('img/blog.jpg') }}" alt="Logo" class="h-12">
    </div>
    <p class="text-center text-gray-400 text-sm mt-2">
        © {{ "now"|date("Y") }} Tous droits réservés.
    </p>
</footer>
