{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div class="bg-blue-500 text-white p-10 ">
        <h1 class="text-4xl font-bold mb-4">Administration</h1>
    </div>

{% endblock %}
